{% extends 'index.html' %}
{% block CpGIsland %}
<h3>CpG Island Searcher</h3>
    <p>Currently under development.</p>
{#<form method="POST" enctype="multipart/form-data">#}
{#    <p><input type="file" name="file" accept=".txt"></p>#}
{#    <label>Search frame from 200 to ...</label>#}
{#    <p><input name="frame" class="textbox"></p>#}
{#    <label>Search Window of the Genome from 0 to ...</label>#}
{#    <p><input name="search_window" class="textbox"></p>#}
{#    <p><input type="submit"></p>#}
{#</form>#}
{% endblock CpGIsland %}